<!-- Background Image based on current weather -->
<section class="">
  <div>
    <i></i>
    <p></p>
  </div>
  <p></p>
  <p></p>
  <div class="info">

  </div>
</section>

<!-- AI Generated message -->
<section class="ai-summary">
  <i></i>
  <p></p>
</section>

<!-- Call to Open Weather API for future data -->
<section class="grid">

</section>

<section class="grid">
  <!-- Simple charts here for current weather data - not line charts -->
  <!-- Icon for weather -->
  <!-- Temp -->
  <!-- Feels Like -->
  <!-- Humidity -->
  <!-- Info explaining that this is generated via Raspberry Pi Station -->
</section>

<!-- Link to social on footer -->
